{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'videos.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
    <!-- <h2 class="title"><a href="{% url 'index_page' %}">SOPHIST ARCHIVES</a></h2> -->
    <a href="{% url 'index_page' %}"><img src="{% static 'videos.css' %}" alt="Sophist Archives"></a>
    <p>Vous êtes enregistré sous: <span class="user-name">Invité</span></p>
    <h4>Entrez votre recherche pour accéder aux vidéos archivées:</h4>
    <!-- Search -->
    <form class="search" action="{% url 'index_page' %}">
        <input type="text" name="search" class="search-term" {% if search_query %}value="{{ search_query }}{% else %}value="Disparition"{% endif %}"
            placeholder="Recherche..">
        <button type="submit" class="search-button">Chercher</button>
    </form>

    <!-- Search Results -->
    {% if search_query %}
    <div class="search-results">
        <p>Résultats pour: &nbsp<b>{{ search_query.upper }}</b></p>
        <p><b>{{ data | length }}</b> résultats trouvés. ACCÈS LIMITÉ AUX 3 PREMIERS.</p>
    </div>

    <!-- Videos -->
    <div class="videos-container">
        <div class="videos">
            {% for video in videos %}
            <div class="video-wrap">
                <video class="video" oncontextmenu="return false;" {% if video.video_thumbnail %} poster="{{video.video_thumbnail.url}}"{% endif %} controls="controls" controlsList="nodownload">
                    <source src="{{video.video_file.url}}" type="video/mp4">
                </video>
                <div class="video-info">
                    <h3 class="video-title">{{video.video_title}}</h3>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
 
</div>
{% endblock content %}
